<div class="center">
    <form action="/user/updatepswd" method="POST">
        <Label for="oldpassword">Old Password : </Label>
        <input type="password" id="oldpassword" name="oldpassword" required><br>
        <Label for="newpassword">New Password : </Label>
        <input type="password" id="newpassword" name="newpassword" required><br>
        <Label for="confirmpassword">Confirm password : </Label>
        <input type="password" id="confirmpassword" name="confirmpassword" required><br>
        <button type="submit">Submit</button>
    </form>
    {{#if message}}
    <p>{{this.message}}</p>
    <a href="/user/">Go back to Dashboard</a>
    {{/if}}
</div>