
<ul id="messages"></ul>
<form action="">
<input id="m" autocomplete="off" /><button>Send</button>


<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function () {
    var email = "{{usermail}}";
    var roomId = "{{roomId}}"

    var socket = io();
    $('form').submit(function(e){
      e.preventDefault(); // prevents page reloading
      
      // makes call to backend socket.io
      socket.emit('chat message',{msg:$('#m').val(),email:email,roomId:roomId});

      // reseting value in textarea to emptry
      $('#m').val('');
      return false;
    });

    socket.on('chat message', function(msg){
      $('#messages').append($('<p>').text(msg));
    });
  });
</script>
<script>
  var socket = io();
</script>