<!--
<div class="center">
    <form action="/room/createroom" method="POST">
        <label for="title">Room Title: </label>
        <input type="text" id="title" name="title" placeholder="" required><br>
        <label for="description">Room Description: </label>
        <input type="text" id="description" name="description" placeholder="" required><br>
        <label for="limit">Room Limit: </label>
        <input type="number" step="1" id="limit" name="limit" placeholder=""><br>
        <button type="submit">Submit</button>
        {{#if message}}
        <p>{{this.message}}</p>
        {{/if}}
</div>
<a href="/">Go back to Dashboard</a> -->

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Create Room</h2>
                <form action="/room/createroom" method="POST">
                    <div class="input-group">
                        <Label for="title">Room Title</Label>
                        <input class="input--style-3" type="text" id="title" placeholder="" name="title" required>
                    </div>
                    <div class="input-group">
                        <Label for="description">Room Description </Label>
                        <input class="input--style-3" type="text" id="description" placeholder="" name="description"
                            required>
                    </div>
                    <div class="input-group">
                        <Label for="limit">Room Limit</Label>
                        <input class="input--style-3" type="number" step="1" id="limit" placeholder="" name="limit">
                    </div>
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Submit</button>

                    </div>
                </form>
                <a href="/">
                    <button class="btn btn-custom btn--pill btn--green" type="submit">Go to Dashboard</button>
                </a>
                {{#if message}}
                <p>{{this.message}}</p>
                {{/if}}

            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>