<!-- left side pane -->
<div>
  <h3>Room List</h3>
  <ul>
    {{#each roomsList}}
    <li>
      <a href="room/{{this.roomId}}">{{this.roomName}}</a>
    </li>
    {{/each}}
  </ul>
</div>
<!-- middle pane will be empty-->

<a href="room/joinRoom"><button>Join</button></a>
<a href="room/createRoom"><button>Create</button></a>
<p><a href="/user/changepswd"> Change Password</a></p>
<p><a href="/logout">logout</a></p>