  <div>  
    <ul>
    {{#each roomsList}}  
        <li>
            <a href="room/{{this.roomId}}">{{this.roomName}}</a>
        </li>
    {{/each}}
    </ul>
  </div>
  <a href="room/joinRoom"><button>Join a room</button></a>

  <p><a href="/logout">logout</a></p>
