<header>
    <h1>Join a Room</h1>
</header>

<form action="/room/joinRoom" id="invite-form" method="POST">
    <div><label for="invitecode">Invite Code</label></div>

    <div>
        <input type="text" id="invitecode" name="invitecode" />
    </div>
    <div>
        <button type="submit" class="submit-button">join</button>
    </div>

</form>
{{#if this.error}}
<p>{{error}}</p>
{{/if}}